@font-face {
  font-family: 'Andale';
  font-display: auto;
  src:  url('fonts/andale.woff2') format('woff2'),
        url('fonts/andale.woff') format('woff');
}

body {
  font-family: 'Andale', Sans-Serif;
  margin: 0;
  margin-top: -16px;
  overflow-x: hidden;
  background-color: black;
}

a:hover {
  text-decoration: underline !important;
}

.info {
  background-color: black;
  margin-top: -16px;
  color: white;
}

.header {
  color: #f1f1f1;
  background-color: black;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header .bio {
  margin: 2.5px;
  padding-bottom: 5px;
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
  -webkit-user-select: none;
}

.content {
  width: 100vw;
  overflow: hidden;
  height: calc(100vh - 135px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 150px;
  z-index: -1;
  background-image: url(logo/bg.jpg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
}

#video, #img  {
  /* display: none; */
  position: absolute;
  width: 100vw;
  height: calc(100vh - 135px);
  object-fit: cover;
  object-position: top;
  overflow: hidden;
}

#video {
  z-index: -1 !important;
}

.content .modal {
  max-width: 75%;
  max-height: 75%;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  overflow: scroll;
  display: flex;
  z-index: 1;
  font-size: 1.25rem;
  flex-direction: column;
  border-radius: 15px;
}

.lasts a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
}

h1 {
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 2.5px solid #3cb7a6;
  margin: 0 auto;
  margin-top: 15px;
  width: calc(100% - 200px);
}

.info h1 {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 10px;
}

.info h1 a {
  text-decoration: underline;
  color: white;
}

.info .socials.min {
  display: none;
}

h1.socials {
  padding: 15px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

h1.socials a {
  margin: 0 10px;
  user-select: none;
  -webkit-user-select: none;
}

h2 {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  margin-top: 15px;
}

.fb-like {
  margin-bottom: 25px;
  padding-left: 25px;
  border-left: 2.5px solid #3cb7a6;
}

#subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  justify-self: center;
}

.subscribe {
  color: #2b2b2b;
  filter: drop-shadow(1px 1px 0px #2b2b2bd9);
  opacity: 0;
  padding: 25px;
  min-width: 200px;
  border: 1px solid #2b2b2b;
  background-color: #ffffffd9 !important;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  z-index: 2;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadein 1s forwards;
  animation-delay: 0.25s;
}

.subscribe .submit:focus {
  outline: none;
}

.subscribe h4 {
  text-align: center;
  width: 100%;
}

.subscribe .card-img {
  width: calc(100% + 45px);
  margin: -22.5px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.subscribe .email {
  background: transparent;
  border: none;
  border-bottom: 1px solid #2b2b2b;
  outline: none;
  font-size: 14px;
  min-width: 200px;
  outline: none !important;
}

.invalid {
  border-bottom: 2.5px solid red !important;
}

.empty {
  color: red;
}

.subscribe .email:hover {
  border-bottom: 2.5px solid #2b2b2b;
}

.subscribe .submit {
  margin-left: 25px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  border: 2.5px solid #3cb7a6;
  filter: drop-shadow(1px 1px 0px black);
  cursor: pointer;
}

.subscribe .submit:hover {
  filter: drop-shadow(2.5px 2.5px 0px black);
}

.success img {
  margin-bottom: 25px;
  max-width: 100px;
}

.subscribe .success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.subscribe .error {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.subscribe-btn {
  cursor: pointer;
  padding-right: 25px;
  border-right: 2.5px solid #3cb7a6;
}

.press-kit {
  padding-left: 25px;
}

.close{
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  /* border: 1px solid #000; */
  border-radius: 100%;
  background-color: #ff0000;
  color: #ffffffd9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-style: normal;
  cursor: pointer;
}

.close:hover {
  border-width: 1.5px;
}

.close:before {
  content: "×";
}

.flash {
  animation: fadein 0.25s forwards;
}

@media (max-width: 768px) {
  .header {
    height: 100px;
  }
  .header h1 {
    font-size: 0.95rem;
    width: calc(100vw - 30px);
    padding: 5px;
    padding-top: 15px;
  }
  .header h2 {
    font-size: 0.75rem;
    margin-top: 5px;
  }
  .header .bio {
    font-size: 0.75rem;
  }
  .content {
    background-position-y: 50px;
  }
  .content, #video, #img  {
    height: calc(100vh - 85px);
    padding-top: 100px;
  }
  .content .modal {
    font-size: 0.85rem;
  }
  .info h1 {
    width: calc(100% - 32px);
    font-size: 0.75rem;
  }
  .info .socials {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .info .socials.full {
    display: none;
  }
  .info .socials.min {
    display: flex;
    justify-content: space-around;
  }
  .info .socials a {
    margin: 2.5px;
    width: 25px;
    height: 25px;
    display: block;
  }
  .info .lasts {
    width: calc(100% - 0px);
    flex-direction: column;
    padding-bottom: 50px;
    background-color: black;
  }
  .info .lasts a {
    display: block;
    font-size: 0.75rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .info .lasts .fb-like {
    border-left: unset;
    margin-top: 10px;
    padding: 0;
    display: block;
  }
  #subscribe {
    flex-direction: column;
  }
  .subscribe-btn {
    border-right: unset;
  }
  .submit {
    margin: 0 !important;
    margin-top: 25px !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to   {
    opacity: 1;
  }
}
